<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="container">
  <h1>Danh sách nhân viên</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Lương</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.wage}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>